// Defaults
$anim-duration-very-short: 0.15s;
$anim-duration-short: 0.3s;
$anim-duration-medium: 1s;
$anim-duration-long: 2s;

// Animations
.anim--fade-in {
  animation: fadein ease-in $anim-duration-very-short;
}
.anim--fade-in--slow {
  animation: fadein ease-in $anim-duration-short;
}
.anim--oscillate {
  animation: oscillate ease-in-out infinite $anim-duration-long;
}
.anim--notify {
  animation: scale ease-in-out $anim-duration-short;
}

// Keyframes
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes oscillate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes reveal {
  0% {
    display: none;
  }
  1% {
    display: initial;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
