.activity-bar {
  position: relative;
  width: 70px;
  height: 100vh;
  float: left;
  background: black;
  color: rgba(white, 0.6);
  &__logo {
    font-size: 33px;
    color: white;
    img {
      height: 40px;
      margin-left: 4px;
      opacity: 0.6;
    }
  }
  &__navlink {
    display: block;
    position: relative;
    width: 70px;
    height: 70px;
    padding: 11px;
    text-align: center;
    color: rgba(white, 0.6);
    transition: background 250ms, color 250ms;
    &:hover {
      cursor: pointer;
      color: white;
      &:not(.activity-bar__navlink active) {
        background: rgba(white, 0.1);
      }
    }
    &.active {
      color: white;
      background: #1070a0;
    }
  }
  &__label {
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;

    &--shortcutted {
      display: inline-block;
      width: 48px;
    }
  }
  &__footer {
    position: absolute;
    bottom: 0;
  }
  a:hover {
    text-decoration: none;
  }
}
