<aside>
  <div class="activity-bar">
    <a class="activity-bar__navlink"
       routerLink="/">
      <i class="material-icons">
        home
      </i>
      <label class="activity-bar__label">Home</label>
    </a>

    <a class="activity-bar__navlink"
       routerLink="/my-travels"
       routerLinkActive="active">
      <i class="material-icons">
        commute
      </i>
      <label class="activity-bar__label activity-bar__label--shortcutted">My travels</label>
    </a>

    <a class="activity-bar__navlink"
       routerLink="/my-team"
       routerLinkActive="active">
      <i class="material-icons">
        supervisor_account
      </i>
      <label class="activity-bar__label activity-bar__label--shortcutted">My team</label>
    </a>

    <a class="activity-bar__navlink"
       routerLink="/on-behalf-of"
       routerLinkActive="active">
      <i class="material-icons">
        supervised_user_circle
      </i>
      <label class="activity-bar__label activity-bar__label--shortcutted">On behalf</label>
    </a>

    <a class="activity-bar__navlink"
       routerLink="/delegation"
       routerLinkActive="active">
      <i class="material-icons">
        settings_applications
      </i>
      <label class="activity-bar__label activity-bar__label--shortcutted">Delegation</label>
    </a>



    <a class="activity-bar__navlink"
       routerLink="/help"
       routerLinkActive="active">
      <i class="material-icons">
        help
      </i>
      <label class="activity-bar__label activity-bar__label--shortcutted">Help</label>
    </a>

    <a class="activity-bar__navlink"
       routerLink="/admin"
       routerLinkActive="active">
      <i class="material-icons">
        build
      </i>
      <label class="activity-bar__label">Admin</label>
    </a>
  </div>
</aside>
