.my-travels-nav-link {
  margin-right: 20px;
  padding: 8px;
  font-size: 14px;
  color: black;

  &.active {
    color: #1070a0;
    font-size: 18px;
  }
}

.my-travels-actions {
  button {
    margin-right: 8px;
    background-color: #1070a0;

    .material-icons {
      margin-bottom: 3px;
      margin-right: 5px;
    }
  }
}

.toolbar-space {
  flex: 1 1 auto;
}
