<mat-toolbar>

  <a routerLink="/my-travels/active"
     class="my-travels-nav-link"
     routerLinkActive="active">
    Active
  </a>

  <a routerLink="/my-travels/history"
     class="my-travels-nav-link"
     routerLinkActive="active">
    History
  </a>

  <span class="toolbar-space"></span>

  <div class="my-travels-actions">
    <button mat-raised-button
            color="primary"><i class="material-icons">
        directions_car
      </i>New domestic request</button>


    <button mat-raised-button
            color="primary"><i class="material-icons">
        flight
      </i>New foreign request</button>
  </div>

</mat-toolbar>

<router-outlet></router-outlet>
