<!-- The content below is only a placeholder and can be replaced. -->

<app-sidebar></app-sidebar>
<div class="container-fluid">
  <div class="layout__main-view">
    <div class="layout">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
