<div class="mat-elevation-z8">
  <app-loading-spinner *ngIf="this.isLoading"></app-loading-spinner>
  <ng-container *ngIf="!this.isLoading">
    <table mat-table
           class="full-width-table"
           [dataSource]="this.data"
           matSort
           aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>Status</th>
        <td mat-cell
            *matCellDef="let row">
          <i class="material-icons status-green">
            done
          </i></td>
      </ng-container>

      <ng-container matColumnDef="departureCity">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>Departure city</th>
        <td mat-cell
            *matCellDef="let row">{{row.departureCity}}</td>
      </ng-container>

      <ng-container matColumnDef="destinationCity">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>Destination city</th>
        <td mat-cell
            *matCellDef="let row">{{row.destinationCity}}</td>
      </ng-container>

      <ng-container matColumnDef="dateFrom">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>Date from</th>
        <td mat-cell
            *matCellDef="let row">{{row.dateFrom | date: 'd.M.yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="dateTo">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>Date to</th>
        <td mat-cell
            *matCellDef="let row">{{row.dateTo | date: 'd.M.yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell
            *matHeaderCellDef
            mat-sort-header>Created</th>
        <td mat-cell
            *matCellDef="let row">{{row.created | date: 'd.M.yyyy'}}</td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
                   [length]="this.data.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20, 50]">
    </mat-paginator>
  </ng-container>
</div>
