/* You can add global styles to this file, and also import other style files */
//@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout {
  padding: 30px;

  &__main-view {
    height: 100vh;
    overflow: auto;
    background-color: #f5f5f5;
  }
}
